*{ margin: 0; padding: 0;}

html, body {
	height: 100%;				
}

body {
	background: url("img/bg.jpg") no-repeat;
	margin: 0px;
	font-family: Helvetica, sans-serif;
	overflow: hidden;
}

#myCanvas{
	height: 500px;
	width: 800px;
	background: #ddff55;
	position: absolute;
	left: 50px;
	top: 50px;
}

#menu{
	position: absolute;
	right: 200px;
	top: 100px;
}
#menu li{ list-style: none; width: 200px; height: 40px; line-height: 40px; border: 1px solid red; padding-left: 5px; margin-top: 20px;}
#menu li a{ text-decoration: none; color: #000000; font-weight: bold; display: block;}